<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="practica.main"
    android:versionCode="1"
    android:versionName="1.0"  >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".PracticaActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Start" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Add" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Options" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Tria" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Editar" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Edicio" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Help" 
            android:screenOrientation="portrait">
        </activity>
	</application>
     

</manifest>